#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2em;
}

canvas {
  position: relative;
  width: 512px;
  height: 512px;
}

.container {
  background-color: #F5F5F5;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 9px, rgba(0, 0, 0, 0.2) 1px, transparent 10px), repeating-linear-gradient(90deg, transparent, transparent 9px, rgba(0, 0, 0, 0.2) 1px, transparent 10px);
  background-size: 10px 10px;
  position: relative;
  width: 512px;
  height: 512px;
  box-sizing: border-box;
  overflow: hidden;
}
